[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock

[mysqld_safe]
socket          = /var/run/mysqld/mysqld.sock
nice            = 0
log_error       = /var/log/mysql/mysql_error.log
[mysqld]
log_error       = /var/log/mysql/mysql_error.log
skip-symbolic-links
local-infile = 0
user            = mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
port            = 3306
datadir         = /var/lib/mysql
skip-external-locking
max_connections         = 10000
connect_timeout         = 5
wait_timeout            = 600
max_allowed_packet      = 16M
max_prepared_stmt_count = 32764
myisam_recover_options = BACKUP
concurrent_insert       = 2
query_cache_size                = 0
query_cache_type                = OFF
log_warnings            = 2
server-id               = {{ server_id }}
report_host             = {{ ans_host_add }}

log_bin=/var/lib/mysql/mysql-bin.log
log_slave_updates=ON

innodb_print_all_deadlocks=1
default_storage_engine  = InnoDB
innodb_file_per_table   = 1
innodb_flush_method     = O_DIRECT
innodb_file_format = barracuda
bind-address=0.0.0.0
innodb_flush_log_at_trx_commit=0

[mysqldump]
quick
quote-names
max_allowed_packet      = 16M

[mysql]
local-infile = 0

[isamchk]
key_buffer              = 16M
!includedir /etc/mysql/conf.d/